.theme-dark .screen, header {
  color: white;
}

.key {
  box-shadow: inset 0 -4px 0 0px var(--key-shadow);
}

.key.function {
  box-shadow: inset 0 -4px 0 0px var(--function-key-shadow);
}

.key.result {
  box-shadow: inset 0 -4px 0 0px var(--result-key-shadow);
}
